@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('/assets/fonts/roboto/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('/assets/fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: bold;
    src: url('/assets/fonts/roboto/Roboto-BlackItalic.ttf') format('truetype');
}

a {
    color: #4c4c4c;
}

a:hover {
    color: #4c4c4c;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #4c4c4c;
    overflow: hidden;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

#top-header, #headerMenu, #mainBanner {
    border-bottom: 1px solid #cfcfcf;
}

#top-header {
    height: 40px;
}

.price-tag {
    background-color: #0090ef;
    width: 35px;
    height: 100%;
    display: inline-block;
    color: #FFF;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.price-tag::after {
    content: " ";
    width: 35px;
    height: 35px;
    transform: rotate(45deg);
    background-color: #FFF;
    white-space: pre;
    position: absolute;
    bottom: -25px;
    left: 0;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
    color: #4c4c4c;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
}

.navbar-light .navbar-nav .nav-link:last-child {
    padding-right: 0px;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
}

.nav-link:hover {
    text-decoration: underline;
}

.tagline .tagline__title {
    font-weight: bold;
}

.tagline .tagline__description {
    font-size: 28px;
}

.tagline .tagline__features {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tagline .tagline__features li {
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.tagline .tagline__features li .fas {
    color: #00b348;
    margin-right: 7px;
}