@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('/assets/fonts/roboto/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('/assets/fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: bold;
    src: url('/assets/fonts/roboto/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/montserrat/Montserrat-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/montserrat/Montserrat-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/montserrat/Montserrat-Bold.otf') format('opentype');
}

a {
    color: #4c4c4c;
}

a:hover {
    color: #4c4c4c;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #4c4c4c;
    overflow-x: hidden;
    overflow-y: scroll;
}

section,footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

#top-header, #headerMenu, #mainBanner, #mainContent {
    border-bottom: 1px solid #cfcfcf;
}

#top-header {
    height: 40px;
    font-size: 14px;
}

.price-tag {
    background-color: #0090ef;
    width: 35px;
    height: 100%;
    display: inline-block;
    color: #FFF;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.price-tag::after {
    content: " ";
    width: 35px;
    height: 35px;
    transform: rotate(45deg);
    background-color: #FFF;
    white-space: pre;
    position: absolute;
    bottom: -25px;
    left: 0;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
    color: #4c4c4c;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
}

.navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0px;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
}

.nav-link:hover {
    text-decoration: underline;
}

.tagline .tagline__title {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.tagline .tagline__description, .section__description {
    font-size: 28px;
}

.list-features {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list-features li {
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.list-features li .fas {
    margin-right: 7px;
}

.list-features li .fas, .fas.check-primary {
    color: #00b348;
    font-size: 18px;
}

.price-table table {
    width: 25%;
}

.price-table table i.fas {
    color: #008fee;
}

.button-round,  a.button-round {
    border: 2px solid #4c4c4c;
    color: #4c4c4c;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 700;
    padding: 7px 25px 10px;
    background: transparent;
    cursor: pointer;
}

a.button-round:hover {
    text-decoration: none;
}

.button-round.button-round-lg, a.button-round.button-round-lg {
    padding: 10px 30px 15px;
    border-radius: 30px;
}

.button-round:hover {
    border-color: #008fee;
    background-color: #008fee;
    color: #FFF;
}

.price-table .price-table__features {
    padding-top: 30px;
    padding-bottom: 30px;
}

.price-table .price-table__features p {
    margin-bottom: 10px;
}

.price-table .price-table__features .button-round {
    margin-top: 30px;
}

.price-table .price-table__package-title {
    font-size: 28px;
    font-weight: 700;
    position: relative;
}

.price-table .price-table__price, .price-table .price-table__sale-price {
    display: block;
    font-size: 18px;
}

.price-table .price-table__sale-price {
    padding-top: 15px;
}

.price-table .price-table__sale-price strong {
    vertical-align: top;
}

.price-table .price-table__price {
    text-decoration: line-through;
}

.price-table .price-table__ribbon {
    width: 175px;
    height: 175px;
    position: absolute;
    left: -10px;
    top: -10px;
    overflow: hidden;
    z-index: 9;
}

.price-table .price-table__ribbon span {
    position: relative;
    display: block;
    width: 100%;
    padding: 12px 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50%;
    color: #fff;
    background-color: #00b359;
    transform: rotate(-45deg);
    left: -48px;
    top: 17px;
    box-shadow: 0px 0px 5px 0px #000;
}

.price-table .price-table__ribbon::after, .price-table .price-table__ribbon::before {
    position: absolute;
    content: " ";
    white-space: pre;
    height: 10px;
    width: 10px;
    background-color: green;
}

.price-table .price-table__ribbon::before {
    left: 102px;
}

.price-table .price-table__ribbon::after {
    left: 0;
    bottom: 63px;
    z-index: -1;
}

.price-table .price-table__best-seller td {
    border-color: #008fee;
}

.price-table .price-table__best-seller tr:nth-child(1), .price-table .price-table__best-seller tr:nth-child(2) {
    background-color: #008fee;
    color: #FFF;
}

.price-table .price-table__best-seller tr:nth-child(3) {
    background-color: #007fde;
    color: #FFF;

}

.price-table .price-table__best-seller .button-round, .button-round.button-blue {
    border-color: #008fee;
    background-color: #008fee;
    color: #FFF;
}

.price-table__sale-price .sale-price__bigger {
    font-size: 45px;
    font-size: 45px;
    margin-top: -15px;
    display: inline-block;
    vertical-align: top;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.w-95 {
    width: 95%;
}

.bg-gray {
    background-color: rgba(0,0,0,.05);
}

.section-end-line {
    text-align: center;
}

.section-end-line::after {
    content: " ";
    width: 120px;
    height: 5px;
    background-color: #f1f1f1;
    white-space: pre;
    display: inline-block;
    margin: 40px auto;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.section-laravel .list-features li {
    font-size: 16px;
}

.section-laravel .list-features {
    margin-bottom: 1rem;
}

.clean-list {
    margin: 0;
    padding: 0;
    padding-left: 15%;
    list-style-type: none;
}

.clean-list__php-features {
    columns: 4;
}

.bg-gray {
    background-color: #f7f7f7;
}

.bg-blue {
    background-color: #007fde;
}

.text-black {
    color: #000;
}

.socials li {
    display: inline-block;
}

.socials__logo {
    display: inline-block;
    width: 35px;
    height: 35px;
    padding: 3px;
    margin-right: 5px;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}

.socials__counter {
    display: inline-block;
    padding: 5px 7px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    vertical-align: top;
    position: relative;
}

.socials__counter::before {
    content: "";
    width: 7px;
    height: 7px;
    background-color: #f7f7f7;
    border: 1px solid #cdcdcd;
    white-space: pre;
    position: absolute;
    left: -4px;
    top: 40%;
    transform: rotate(45deg);
    border-top: none;
    border-right: none;
}

.fb-background {
    background-color: #23599b;
}

.twitter-background {
    background-color: #00aef1;
}

.google-plus-background {
    background-color: #fc4a35;
}

#cta {
    background-color: #00a2f3;
}

.button-cta {
    border-color: #FFF!important;
    background-color: #00a2f3!important;
}

.cta__text {
    font-size: 32px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta__text strong, .cta__text a {
    vertical-align: middle;
}

.cta__text .devider {
    display: inline-block;
    width: 2px;
    height: 60px;
    border-right: 1px solid rgba(255, 255, 255, 0.45);
}

.footer {
    background-color: #303030;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.footer small {
    color: #8e8e8e;
}

.footer__title {
    font-size: 16px;
    font-weight: bold;
    color: #8e8e8e;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer .clean-list li a, .footer p {
    color: #d8d8d8;
}

.footer .clean-list li a {
    font-size: 14px;
}

.footer .clean-list {
    padding: 0;
}

.footer .footer__newsletter .footer__newsletter__form-newsletter label {
    width: 100%;
    display: block;
    background-color: #FFF;
    height: 55px;
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
    position: relative;
}

.footer .footer__newsletter .footer__newsletter__form-newsletter .newsletter-input {
    border: none;
    background: transparent;
    height: 100%;
    width: 53%;
    outline: none;
}

.footer .footer__newsletter .footer__newsletter__form-newsletter button[type="submit"], .footer .footer__newsletter .footer__newsletter__form-newsletter input[type="submit"] {
    width: 45%;
    height: 100%;
    border-radius: 25px;
    border: 1px solid #00a2f3;
    background-color: #00a2f3;
    color: #FFF;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}

.footer .footer__socials a {
    color: #dee1e5;
}

.footer .footer__socials a:hover {
    text-decoration: none;
}

.footer .footer__payment .image-frame {
    width: 78px;
    line-height: 45px;
    margin-right: 10px;
    text-align: center;
    border: 1.2px solid #dee1e5;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}

.footer .footer__social-icon {
    width: 50px;
    height: 50px;
    border: 2px solid #dee1e5;
    text-align: center;
    font-size: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer__bottom {
    border-top: 1px solid #292929;
    font-size: 12px;
}

.footer .footer__bottom a,.footer .footer__bottom  {
    color: #d8d8d8;
}